<div layout="column" flex>
    <div scroll-glue layout="column" flex>
        <md-list class="chat-window" flex layout-fill>
            <chat-message ng-repeat="msg in messages" ng-click="selectedUser = msg.user.username" message="msg" selected="selectedUser"></chat-message>
        </md-list>
    </div>
    <md-divider></md-divider>
    <md-input-container id="wu-input-box" md-no-float>
        <!-- One day I might add an icon, but not today -->
        <!--<md-icon class="fa" md-font-icon="fa-comment"></md-icon>-->
        <input type="text" placeholder="Message" id="wu-input" ng-model="message" ng-keypress="_ctrl.keyPress($event)" />
    </md-input-container>
</div>